html{
    background-color: bisque;
}
h1{
    text-align: center;
    color:  #6495ED;
    text-size-adjust: 54;
}

div{
    position: relative;
    left: 15%;
   text-align:left ;
    color: #7F7CFF;
}
div h5{
    color: black;
}